@font-face {
    font-family: 'ProggyClean';
    src: url(ProggyClean.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCMachine';
    src: url(ITCMachineBold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}